192.168.55.9 http.mycluster.example.com  http
192.168.55.10 dns.mycluster.example.com  dns
192.168.55.11  loadbalancer.mycluster.example.com  loadbalancer api api.mycluster.example.com  api-int api-int.mycluster.example.com
192.168.55.12 bootstrap.mycluster.example.com  bootstrap
192.168.55.13 master.mycluster.example.com  etcd-0.mycluster.example.com master  etcd-0
192.168.55.14 worker-1.mycluster.example.com worker-1
