###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
# Last Modified: 05-31-2007
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#       
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#




# CONTACTS


# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the 'generic-contact' 
# template which is defined elsewhere.


#######################################################

define contact{
        contact_name                    Leonardo
        use                             generic-contact
        alias                           Leonardo Acosta
	contact_groups                  admins
        service_notification_period     6x22
        host_notification_period        6x22
        service_notification_options    u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email, notify-service-by-sms
        host_notification_commands      notify-host-by-email, notify-host-by-sms
	email                           lacosta@prides.net
        pager                           83482399
        }

define contact{
        contact_name                    Carlos
        use                             generic-contact
        alias                           Carlos Hidalgo
        contact_groups                  admins
        service_notification_period     6x22
        host_notification_period        6x22
        service_notification_options    u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email, notify-service-by-sms
        host_notification_commands      notify-host-by-email, notify-host-by-sms
	email                           chidalgo@prides.net
        pager                           88146467
        }


define contact{
        contact_name                    Elkin
        use                             generic-contact
        alias                           Elkin Rojas
        service_notification_period     6x22
        host_notification_period        6x22
        service_notification_options    u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email, notify-service-by-sms
        host_notification_commands      notify-host-by-email, notify-host-by-sms
        email                           erojas@prides.net
        pager                           62243638
        }


define contact{
        contact_name                    German
        use                             generic-contact
        alias                           German Zamora
        contact_groups                  admins
        service_notification_period     6x22
        host_notification_period        6x22
        service_notification_options    u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email, notify-service-by-sms
        host_notification_commands      notify-host-by-email, notify-host-by-sms
        email                           gzamora@prides.net
        pager                           84106556
        }

define contact{
        contact_name                    Luis
        use                             generic-contact
        alias                           Luis Rivera
        contact_groups                  admins
        service_notification_period     6x22
        host_notification_period        6x22
        service_notification_options    u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email, notify-service-by-sms
        host_notification_commands      notify-host-by-email, notify-host-by-sms
	   email                        lriverag@prides.net
        pager                           89265789
        }

define contact{
        contact_name                    Erick
        use                             generic-contact
        alias                           Erick Marin
        contact_groups                  admins
        service_notification_period     6x22
        host_notification_period        6x22
        service_notification_options    u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email, notify-service-by-sms
        host_notification_commands      notify-host-by-email, notify-host-by-sms
	   email                        emarin@prides.net
        pager                           89471558
        }


define contact{
        contact_name                    helpdesk
        use                             generic-contact
        alias                           Helpdesk Soporte
        service_notification_period     6x22
        host_notification_period        6x22
        service_notification_options    u,c,r,f,s
        host_notification_options       d,u,r,f,s
        service_notification_commands   notify-service-by-sms
        host_notification_commands      notify-host-by-sms
        pager                           89687453
        }



###################### contacto guardias #################


define contact{
        contact_name                    keylor
        use                             generic-contact
        alias                           Keylor Molina
        service_notification_period     24x7 
        host_notification_period        24x7
        service_notification_options    u,c,r,f,s
        host_notification_options       d,u,r,f,s
        service_notification_commands   notify-service-by-sms
        host_notification_commands      notify-host-by-sms
        pager                           87058136
        }


########### Usuario Guardias APS #################

define contact{
        contact_name                    soporteaps
        use                             generic-contact
        alias                           soporteaps
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    u,c,r,f,s
        host_notification_options       d,u,r,f,s
        service_notification_commands   notify-service-by-email, notify-service-by-sms
        host_notification_commands      notify-host-by-email, notify-host-by-sms
        email                           soporteaps@prides.net
        pager                           87507177
        }

################ Usuarios VPN Municipalidades ############


define contact{
        contact_name                    Danny
        use                             generic-contact
        alias                           Danny Diaz
        service_notification_period     6x22
        host_notification_period        6x22
        service_notification_options    u,c,r,f,s
        host_notification_options       d,u,r,f,s
        service_notification_commands   notify-service-by-emailvpn
        host_notification_commands      notify-host-by-emailvpn
        email                           ddiaz@decisionesacertadas.com       
        }



#################
#
# CONTACT GROUPS
#
#################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
	members			Leonardo, helpdesk, Elkin, German,Carlos,Luis,Erick
        }

define contactgroup{
	contactgroup_name	soporteapsguardias
	alias			Usuario Soporte APS
	members			soporteaps
	}

define contactgroup{
	contactgroup_name	vpnmunis
	alias			Usuarios VPN Municipalidades
	members			Danny, Elkin,Carlos
	}


