192.168.122.20 http.mycluster.example.com  http
192.168.122.20 dns.mycluster.example.com  dns
192.168.122.20  loadbalancer.mycluster.example.com  loadbalancer api api.mycluster.example.com  api-int api-int.mycluster.example.com
192.168.122.30 bootstrap.mycluster.example.com  bootstrap
192.168.122.31 master.mycluster.example.com  etcd-0.mycluster.example.com master  etcd-0
192.168.122.32 worker-1.mycluster.example.com worker-1
